@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  src: url('../assets/font/Questrial-Regular.ttf') format('ttf');
}

html {
  font-family: "Questrial", sans-serif;
}

body {
  @apply min-h-screen;
}

#root {
  @apply flex flex-1 align-middle justify-center bg-gray-200 py-10;
}

.a4 {
  width: 210mm;
  height: 297mm;
}
